html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

table {
	text-align: center;
}

.navbar-brand {
	font-family: 'Monoton', cursive;
	font-size:20px;
}

.alert-danger {
	text-align: center;
}

li {
  list-style: none;
  display: inline;
}

.navbar-inverse {
	background-color: #440582;
}
.box {
  height: auto;
  width: auto;
  color:white;
}

.vinyl-single{
  text-align: center;
}

h2 {
	padding-top:10px;
}

.vinyl {
	padding-top: 50px;
  text-align: center;
}

.vinyls {
  display: inline-block;
  background: #fff;
  position: relative;
  border: 1px solid #ececec;
  box-shadow: 1px 1px 1px #ececec;
  width: calc(25% - 45px);
  height:260px;
  text-align: center;
  margin: 20px;
  padding: 10px;
	font-family: 'Ubuntu', sans-serif;
  vertical-align: top;
}

.col-xs-6 {
	padding-top: 50px;
	margin: 5px;
}

.col-sm-8 {
	padding-top: 50px;
	margin: 5px;
}

.col-lg-12 {
	padding-top: 50px;
	margin: 10px;
}

.vinyls img {
  max-width: 200px;
  max-height: 175px;
}

.vinyls .delete {

}

.body {
  margin: 0;
  padding: 0;
  color:#707070;
  background: #fff;
	font-family: 'Ubuntu', sans-serif;
}

.upload {
  padding: 10px;
  margin: 10px;
}

.delete {
  float: right;
}

.info {
  font-size: 11px;
	color:#b8b8b8;
}

.icon {
  float:left;
}


.paginator {
  text-align: center;
}

.fa-ban:hover,
.fa-ban:active {
  background-color: red;
}
